---
layout: default
---

{{ content }}

<h1>News</h1>
<div class="uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-large uk-border-rounded">
    <dl class="uk-description-list">
        {% for el in site.data.news %}
        <dt>{{el.date}}</dt>
        <dd>{{el.body}}</dd>
        {% endfor %}
    </dl>
</div>


<h1>Career Summary</h1>
<div class="uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-large uk-border-rounded">
    <div class="uk-card-badge uk-label uk-border-rounded">Current</div>
    <ul class='fa-ul'>
        {% assign current_el = site.data.career | where: "current", true %}
        {% for el in current_el %}
        <li>
            {% if el.type == "abroad" %}
            <i class="fa-li fas fa-plane-departure fa-lg"></i>
            {% elsif el.type == "grad" %}
            <i class="fa-li fas fa-graduation-cap fa-lg"></i>
            {% endif %}
            <dl class="uk-description-list">
                <dt>{{el.title}}. {{el.date}}.</dt>
                <dd>{{el.desc}}</dd>
            </dl>
        </li>
        {% endfor %}
</div>
<ul class='fa-ul'>
    {% for el in site.data.career %}
    {% if el.current != true %}
    <li>
        {% if el.type == "abroad" %}
        <i class="fa-li fas fa-plane-departure fa-lg"></i>
        {% elsif el.type == "grad" %}
        <i class="fa-li fas fa-graduation-cap fa-lg"></i>
        {% endif %}
        <dl class="uk-description-list">
            <dt>{{el.title}}. {{el.date}}.</dt>
            <dd>{{el.desc}}</dd>
        </dl>
    </li>
    {% endif %}
    {% endfor %}
</ul>