---
layout: default
---


<h1>Publications</h1>

<div class="uk-width-expand">
    <ul uk-accordion="multiple: true">
        <li class="uk-open">
            <a class="uk-accordion-title" href="#">2023</a>
            <div class="uk-accordion-content">
                {% bibliography --query @*[year=2023] %}
            </div>
        </li>
        <li class="uk-open">
            <a class="uk-accordion-title" href="#">2021</a>
            <div class="uk-accordion-content">
                {% bibliography --query @*[year=2021] %}
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">2020</a>
            <div class="uk-accordion-content">
                {% bibliography --query @*[year=2020] %}
            </div>
        </li>
    </ul>
</div>